{% extends "base.html" %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block restaurant_content %}
<div class="container mt-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="card-title mb-0">
                    <i class="bi bi-house-door-fill me-2"></i>Dashboard
                </h2>
            </div>
            <hr>
            <div class="row">
                <!-- Address -->
                <div class="col-md-6 mb-4">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-geo-alt-fill text-primary me-2 fs-3"></i>
                        <div class="p-1">
                            <strong>Address:</strong>
                            <div>{{ restaurant.address }}</div>
                        </div>
                    </div>
                </div>
                <!-- Total Tables -->
                <div class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-grid-fill text-primary me-2 fs-3"></i>
                        <div class="p-1">
                            <strong>Total Tables:</strong>
                            <div>{{ restaurant.total_table }}</div>
                        </div>
                    </div>
                </div>
                <!-- Total Menus -->
                <div class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-card-list text-primary me-2 fs-3"></i>
                        <div>
                            <strong>Total Menus:</strong>
                            <div>{{ total_menus }}</div>
                        </div>
                    </div>
                </div>
                <!-- Total Orders -->
                <div class="col-md-6 mb-3">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-receipt text-primary me-2 fs-3"></i>
                        <div>
                            <strong>Total Orders:</strong>
                            <div>{{ total_orders }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}